
div.container {
    width: 100%;
    border: 1px solid gray;
    background-image:url("bokeh4.png") ;
}

header,footer  {
  text-shadow: 2px 2px 2px 2px gray;
  color:black;
  text-align: center;
  font-size: 30pt;
  padding:30px 0px 20px 0px;
  font-family: algerian;
}

div.list  {
  display: block;
  float:left;
  max-width: 160px;
  margin-top: 70px;
  padding-top: 40px;
  padding-right: 20px;
  border-right: 2px dashed black;
}

li a{
  margin-top: 15px;
  text-align: center;
  display: block;
  font-weight: bold;
  font-family: calibri;
  font-size: 12pt;
  padding:10px 2px 10px 2px;
  color:black;
  text-decoration: none;

}

li a:hover  {
  background-color:black;
  color:white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9), 0px 6px 20px 0px rgba(0,0,0,0.19);
}

nav ul{
    list-style-type: none;
}

div.first {
  display: block;
  font-family: "Montserrat",serif;
  background-color: #ADD8E6;
  border: 15px solid gray;
  border-color: #696969;
  margin: 20px 20px 10px 220px;
  padding:50px;
  color:black;
  line-height: 30px;
  font-size: 18px;
  color: black;
  text-indent: 50px;
}

div.second {
  display: block;
  font-family: "Montserrat",serif;
  background-color: chocolate;
  padding:30px;
  color:black;
  margin:20px;
}

ul.list1{
  margin-left:100px;
}

article.thyra , article.ffsc{
  border: 2px solid black;
  background-color: #B0C4DE;
}

p#p1 {
  margin-left: 75px;
}

img#img {
  margin-left: 100px;
  width:500px;
  height:500px;
}

p#p2  {
  margin-left: 40px;
  font-style: italic;
  font-weight: bold;
}

h3  {
  text-decoration: underline;
}

table {
  font-family: arial, sans-serif;
  border: 4px solid black;
  text-align: center;
  margin: 0px 100px 40px 100px;
  border-collapse: collapse;
}

td,th {
  border: 2px dotted gray;
  padding:7px;
}

th{
  font-weight: bold;
  font-size:125%;
  padding:10px;
  border-bottom: 3px solid black;
}

img#arrow {
  width: 50px;
  height: 50px;
  margin:0px 0px 0px 1200px;
}
footer  {
  background-color: black;
  color:white;
  margin:0px;
  padding:10px;
  font-size: 13px;
  font-family: calibri;
  text-shadow: none;
  text-align: right;
}
